.systemContainer {
  border: 2px solid black;
  padding: 1rem;
}

.container {
  display: grid;
  row-gap: 2rem;
}

.inputContainer {
  display: grid;
  row-gap: 1rem;
}

.button {
  border: none;
  background: black;
  color: white;
  padding: 0.5rem 0;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
}

.input {
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid black;
  border-radius: 3px;
}

.form {
  display: grid;
  row-gap: 0.5rem;
}

.setContainer {
  padding: 0.8rem;
  display: grid;
  row-gap: 0.5rem;
  border: 1px solid black;
}

.setValues {
  padding: 0.5rem 1rem;
  color: black;
  background-color: skyblue;
  font-size: 1rem;
  font-weight: 500;
}

.emptyContainer {
  color: gray;
}
