.container {
  font-family: "Inter", sans-serif;
  width: fit-content;
  display: grid;
  row-gap: 0.2rem;
  align-content: start;
}

.newItem {
  animation: append-animate 500ms linear;
}

@keyframes append-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
