.inputContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 0.5rem;
}

.inputContainer > * {
  display: flex;
  column-gap: 0.5rem;
}

.input {
  width: 6ch;
  padding: 0.1rem 0.2rem;
  font-size: 1.2rem;
}

.button {
  display: flex;
  background-color: transparent;
  border-color: transparent;
  align-items: center;
}
